<% provide(:title, @invitation.tittle) %>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
		
			<%= @invitation.tittle %>
			<br/>
		  	<%= @invitation.venue %>
		  	<br/>
		  
		  	<%= @invitation.start_at %>
		  	<br/>
		  	<%= @invitation.end_at %>


		  
		</section>
	</aside>
</div>
