<header class="navbar navbar-fixed-top navbar-light">
	<div class="container">
		<%= link_to "WedingQu", root_path, id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right" style="color">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Help", help_path %></li>
			</ul>
		</nav>
	</div>
</header>